:root {
  --navbar: #000000;
  --backgorundA: #1d1d1d;
  --backgroundB: #3f3f3f;
  --backgroundC: #8f8f8f8f;
  --backgroundD: #aaaaaa;
  --textcolorA: #eeeeee;
  --textcolorB: #aaaaaa;
}

html {
  background-color: var(--backgorundA);
  margin: 0 auto;
  padding: 0;
  height: 100%;
}

body {
  height: 100%;
  margin: 0px;
}

.App {
  position: absolute;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--backgorundA);
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.Title {
  font-size: 2em;
  color: orange;
  text-transform: uppercase;
  padding: 0;
  margin-top: 30px;
  text-shadow: 2px 3px var(--backgorundD);
  align-self: left;
}

.NavBarRight {
  display: flex;
  justify-content: space-between;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: var(--backgroundC);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: var(--backgroundB);
}

.Welcome {
  font-size: 1.4em;
  margin-top: 30px;
  color: var(--textcolorA);
}

.AddNewSection {
  width: 90%;
  padding: 10px 20px;
  color: var(--light-dark);
  background: var(--backgroundD);
  height: 50px;
  margin: 10px;
  border: none;
}

.AddNewSection:hover {
  color: var(--textcolorA);
  background: var(--backgroundC);
}

input {
  background-color: var(--backgorundA);
  border: none;
  color: var(--textcolorA);
}

.Buttons {
  align-items: center;
  align-self: center;
  margin: 0 auto;
  display: grid;
  grid-auto-flow: row;
}

.ToneButtons {
  margin: 10px;
}

.SaveSongButton {
  background-color: orange;
  border: none;
  height: 68px;
  border-radius: 5px;
  color: var(--backgorundA);
  margin: 20px;
}

.UpdateSongButton {
  background-color: var(--backgroundD);
  border: none;
  height: 68px;
  border-radius: 5px;
  color: var(--backgorundA);
  margin: 20px;
}

.NewSongButton {
  background-color: var(--backgroundD);
  border: none;
  height: 68px;
  border-radius: 5px;
  color: var(--backgorundA);
  margin: 20px;
}
.DeleteSongButton {
  background-color: var(--backgroundD);
  border: none;
  height: 68px;
  border-radius: 5px;
  color: var(--backgorundA);
  margin: 20px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 14%; /* Height of the footer */
  background: black;
  padding: 0;
  margin: 0;
}

.Break {
  height: 30px;
}
